:root {
    --gray-1: #1A1A1A;
    --gray-2: #333333;
    --gray-3: #4D4D4D;
    --gray-4: #808080;
    --gray-5: #BFBFBF;
    --orange-light: #FF8000;
    --orange-dark: #FF6A00;
}

/* Adaptiv */

/* Computer */

@media screen and (max-width:1440px) {
    
}

/* Laptop */

@media screen and (max-width:1024px) {

}

/* Pad */

@media screen and (max-width:800px) {

    .nav {display: none;}
    .menu__burger {display: flex;}
    .logo img {width: 5vw;}
    .logo a {font-size: 5vw;}
    .icon__profile__adapt {width: 5vw;}
    .header__film {height: 60vw;}
    .header {height: 60vw;}
    .icon__play {width: 2vw;}
    .header__film__button a {font-size: 2vw;}
    .icon__info {width: 3vw;}
    .icon__bookmark {width: 1.5vw;}
    .new__text {font-size: 4vw;}
    .header__film__button__bookmark {padding: 1vw 1.75vw;}
    .icon__search__media {width: 4.5vw; display: block; position: absolute; left: 80%; z-index: -1;}
}

/* Pad */

@media screen and (max-width:640px) {

}

/* Phone */

@media screen and (max-width:480px) {
    
}

/* Phone */

@media screen and (max-width:320px) {

}
