:root {
    --gray-1: #1A1A1A;
    --gray-2: #333333;
    --gray-3: #4D4D4D;
    --gray-4: #808080;
    --gray-5: #BFBFBF;
    --orange-light: #FF8000;
    --orange-dark: #FF6A00;
    --red: #E60000;
    --green: #00BF13;
}

.hello__window {
    display: none;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    background-color: var(--gray-1);
}

.header__nav {
    position: relative;
}

.registration__text {
    margin-top: 2vw;
    color: white;
    font-size: 36px;
    border-bottom: 10px solid var(--orange-light) ;
}

.registration__form {
    display: flex;
    flex-flow: column nowrap;
    width: 25vw;
    padding: 3vw 4vw 3vw 4vw;
    border-radius: 10px;
    background-color: var(--gray-2);
    margin-top: 2vw;
    text-align: center;
}

.registration__form div {
    display: flex;
    flex-flow: column nowrap;
}

.registration__form div div {
    text-align: start;
    color: white;
    font-size: 1rem;
}

::placeholder {
    color: var(--gray-3);
}

.registration__form div input {
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 10px;
    margin-bottom: 1vw;
    background-color: var(--gray-5);
    border: none;
    outline: none;
    box-shadow: none;
}

button {
    margin-top: 2vw;
    border-radius: 10px;
    padding: 1vw 1.5vw;
    color: white;
    border: none;
    background-color: var(--orange-light);
    width: 80%;
    align-self: center;
    font-size: 16px;
}

button:hover {
    background-color: var(--orange-dark);
    cursor: pointer;
}

.hello__window {
    display: none;
    top: 0;
    padding-bottom: 2vw;
    z-index: 1;
    position: fixed;
    background-color: var(--gray-2);
    right: 0;
    width: 300px;
    margin-right: 3%;
    border-radius: 0 0 20px 20px;
}

.icon__profile:hover ~ .hello__window, 
.hello__window:hover {
    display: block;
}