:root {
    --gray-1: #1A1A1A;
    --gray-2: #333333;
    --gray-3: #4D4D4D;
    --gray-4: #808080;
    --gray-5: #BFBFBF;
    --orange-light: #FF8000;
    --orange-dark: #FF6A00;
    --red: #E60000;
    --green: #00BF13;
}

.header {
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--gray-1);
}

.header__nav {
    position: fixed;
    background-color: rgba(26, 26, 26, 0.8);
}

.content {
    padding-top: 4vw;
}

.content__block {
    display: grid;
    padding-top: 3vw;
}

.content__video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 11vw;
    column-gap: 0.8vw;
}

.video__block {
    width: 17.5vw;
    height: 10vw;
}
